body {
    background: rgb(11, 58, 16);
    border: #4681b4;
    border: #3c6e9a;
    border: #9494f8;
    background-color: #5f8d03;
    color: #566485;
    color: #e6e8ec;
    color: #fc0000;
    color: #053d0c;
}